@mixin transition($props...) {
    $result: ();
      @each $prop in $props {
       $result: append($result, ($prop 2500ms var(--timing-function)), $separator: comma);  
      }  
      transition: $result; 
  }