<section class="advantages section">
  <div class="container">
    <h2>Hidden title</h2>

    <ul class="advantages__list list">
      <li class="advantages__item">
        <svg class="advantages__svg">
          <use></use>
        </svg>
        <h3 class="advantages__title">721</h2>
        <p advantages__text>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item">
        <svg class="advantages__svg">
          <use></use>
        </svg>
        <h3 class="advantages__title">16kg</h2>
        <p advantages__text>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item">
        <svg class="advantages__svg">
          <use></use>
        </svg>
        <h3 class="advantages__title">84</h2>
        <p advantages__text>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>