<section>
    <div class="container">
        <h2 class="section__title visually-hidden">customer-rewiews
</h2>
<div class="slider">
<picture>
    <source srcset="./images/gallery_reviews/avatardesk1x.jpg 1x, ./images/gallery_reviews/avatardesk1x.jpg 2x
              " />
    <img src="./images/gallery_reviews/avatardesk1x.jpg" alt="avatar's client">
</picture>

    <p class="review__text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful
    serving, cozy atmosphere and polite staff.
</p>
    <p class="review__name">Emily, Los Angeles</p>
</div>
    </div>
</section>
