<section class="review">
  <div class="container revierw__container">
    <h2 class="section__title visually-hidden">customer-rewiews</h2>
     
    <div class="slider">
      <div class="slide">
        <div class="review__content">
          <div class="review__img-wrapper">
            <picture>
              <source
                srcset="
                  ./images/gallery_reviews/avatardesk1x.jpg 1x,
                  ./images/gallery_reviews/avatardesk1x.jpg 2x
                "
              />
              <img
                class="review__img"
                src="./images/gallery_reviews/avatardesk1x.jpg"
                alt="avatar's client"
                width="85"
              />
            </picture>
          </div>

          <p class="review__text">
            <span class="review__text--span">I love visiting your cafe. </span>
            <span class="review__text--span">You prepare the most </span> 
            <span class="review__text--span">delicious ice cream in Los </span>
            <span class="review__text--span">Angeles!</span>
            <span class="review__text--span">In addition, you have </span> 
            <span class="review__text--span">beautiful serving, cozy</span>
            <span class="review__text--span">atmosphere and polite </span> 
            <span class="review__text--span">staff.</span>
          </p>
          
          <p class="review__name">Emily, Los Angeles</p>
        </div>
      </div>
      <div class="slide">
        <div class="review__content">
          <div class="review__img-wrapper">
            <picture>
              <source
                srcset="
                  ./images/gallery_reviews/avatardesk1x.jpg 1x,
                  ./images/gallery_reviews/avatardesk1x.jpg 2x
                "
              />
              <img
                class="review__img"
                src="./images/gallery_reviews/avatardesk1x.jpg"
                alt="avatar's client"
              />
            </picture>
          </div>

          <p class="review__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
         
          <p class="review__name">Emily, Los Angeles</p>
        </div>
      </div>
      <div class="slide">
        <div class="review__content">
          <div class="review__img-wrapper">
            <picture>
              <source
                srcset="
                  ./images/gallery_reviews/avatardesk1x.jpg 1x,
                  ./images/gallery_reviews/avatardesk1x.jpg 2x
                "
              />
              <img
                class="review__img"
                src="./images/gallery_reviews/avatardesk1x.jpg"
                alt="avatar's client"
              />
            </picture>
          </div>

  <p class="review__text">
    I love visiting your cafe. You prepare the most delicious ice cream
    in Los Angeles! In addition, you have beautiful serving, cozy
    atmosphere and polite staff.
  </p>

          
          <p class="review__name">Emily, Los Angeles</p>
        </div>
      </div>
    </div>
  </div>
</section>
