<section class="galary section">
    <div class="container">
        <h2 class="visually-hidden">Customer Reviews
        </h2>
        <div class="img-wraper">
            <picture>
                <source srcset=" 1x,  2x" media="(min-width:$mobile)">
                <source srcset=" 1x,  2x" media="(min-width:$tablet)">
                <source srcset=" 1x,  2x" media="(min-width:$desktop)">

                <img src="" alt="" width="" />
            </picture>
        </div>
        <div class="img-wraper">
            <p>xzzczczczxczxc</p>
            <picture>
                <source srcset=" 1x,  2x" media="(min-width:$mobile)">
                <source srcset=" 1x,  2x" media="(min-width:$tablet)">
                <source srcset=" 1x,  2x" media="(min-width:$desktop)">

                <img src="" alt="" width="" />
            </picture>
        </div>
        <div class="img-wraper">
            <picture>
                <source srcset=" 1x,  2x" media="(min-width:480px)">
                <source srcset=" 1x,  2x" media="(min-width:780px)">
                <source srcset=" 1x,  2x" media="(min-width:1200px)">

                <img src="" alt="" width="" />
            </picture>
        </div>
    </div>

</section>