<section class="gallery section">
  <div class="container gallery__container">
    <h2 class="section__title visually-hidden">galary</h2>
    <ul class="gallery__img-wraper">
     <li class="gallery__item item--1 gallery__item--static">
      <picture>
        <source
          srcset="
            ./images/gallery_reviews/gallerydesk1x.jpg 1x,
            ./images/gallery_reviews/gallerydesk2x.jpg 2x
          "
          media="(min-width:1200px)"
        />

        <source
          srcset="
            ./images/gallery_reviews/gallerytab1x.jpg 1x,
            ./images/gallery_reviews/gallerytab2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery_reviews/gallerymob1x.jpg 1x,
            ./images/gallery_reviews/gallerymob2x.jpg 2x
          "
          media="(max-width:767.99px)"
        />

        <img
          class="gallery__img"
          src="./images/gallery_reviews/gallerydesk1x.jpg"
          alt="  "
        />
      </picture>
     </li>
     <li class="gallery__item item--2">
      <picture>
        <source
          srcset="
            ./images/gallery_reviews/icedesk@1x.jpg 1x,
            ./images/gallery_reviews/icedesk@2x.jpg 2x
          "
          media="(min-width:1200px)"
        />

        <source
          srcset="
            ./images/gallery_reviews/icetab@1x.jpg 1x,
            ./images/gallery_reviews/icetab@2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery_reviews/icemob@1x.jpg 1x,
            ./images/gallery_reviews/icemob@2x.jpg 2x
          "
          media="(max-width:767.99px)"
        />

        <img
          class="gallery__img"
          src="./images/gallery_reviews/icedesk@1x.jpg"
          alt="  "
        />
      </picture>
     </li>
     <!-- <li class="gallery__item item--3">
      <picture>
        <source
          srcset="
            ./images/gallery_reviews/gallerydesk1x.jpg 1x,
            ./images/gallery_reviews/gallerydesk2x.jpg 2x
          "
          media="(min-width:1200px)"
        />

        <source
          srcset="
            ./images/gallery_reviews/gallerytab1x.jpg 1x,
            ./images/gallery_reviews/gallerytab2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery_reviews/gallerymob1x.jpg 1x,
            ./images/gallery_reviews/gallerymob2x.jpg 2x
          "
          media="(max-width:767.99px)"
        />

        <img
          class="gallery__img"
          src="./images/gallery_reviews/gallerydesk1x.jpg"
          alt="  "
        />
      </picture>
     </li> -->
    </ul>
  </div>
</section>
