<header class="header">
    <div class="flex-box container">
        <a href="./index.html" class="logo" aria-label="logo">
            <img class="logo-img" src="../src/images/logo.png" alt="">
        </a>
        <nav class="navi js-menu-container">
            <ul class="navi__list">
                <li class="navi__item"><a class="navi__link" href="./index.html">Home</a></li>
                <li class="navi__item"><a class="navi__link" href="#about">About us</a></li>
                <li class="navi__item"><a class="navi__link" href="#advantages">How it’s made?</a></li>
                <li class="navi__item"><a class="navi__link" href="#products">Our products</a></li>
                <li class="navi__item"><a class="navi__link" href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="btn-box">
            <button class="menu-btn js-open-menu" type="button">
                <svg class="menu-btn__icon" width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-burger"></use>
                </svg>
            </button>

            <button class="menu-btn js-close-menu is-hiden-btn" type="button">
                <svg class="menu-btn__icon" width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-ep-close"></use>
                </svg>
            </button>
            <button class="buy-btn" type="button" data-modal-open>Buy now

                <svg class="buy-btn__icon" width="18" height="18">
                    <use href="./images/symbol-defs.svg#icon-bracket"></use>
                </svg>
            </button>
        </div>
    </div>
</header>