<header class="header">
    <div class="flex-box container">
        <a href="" class="logo">
            <img class="logo-img" src="../src/images/logo.png" alt="">
        </a>
        <nav class="navi">
            <ul class="navi__list">
                <li class="navi__item"><a class="navi__link" href="">Home</a></li>
                <li class="navi__item"><a class="navi__link" href="">About us</a></li>
                <li class="navi__item"><a class="navi__link" href="">How it’s made?</a></li>
                <li class="navi__item"><a class="navi__link" href="">Our products</a></li>
                <li class="navi__item"><a class="navi__link" href="">Contact</a></li>
            </ul>
        </nav>
        <div class="btn-box">
            <button class="menu-btn" type="button">
                <svg class="menu-btn__icon" width="20" height="20">
                    <!-- <use href=""></use> -->
                </svg>
            </button>
            <button class="buy-btn" type="button">Buy now</button>
        </div>
    </div>
</header>