<section class="hero">
    <div class="container flex-box flex-box--justify">
        <div class="hero-left">
            <h1 class="hero__title">ice cream <br> made with <br><span class="hero__accent">passion</span> </h1>
            <div class="hero-link-box flex-box">
                <a href="" class="hero-link-box__link hero-link-box__link--btn">Products</a>
                <a href="" class="hero-link-box__link hero-link-box__link--link">How it’s made?</a>
            </div>
            <div class="hero-offer">
                <img class="hero-offer__img" src="./images/offer-tab.png" alt="рекламное предложение мороженного">
                <div class="hero-offer__description">
                    <p class="hero-offer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et</p>
                    <a class="hero-offer__link" href="">
                        <svg class="hero-offer__icon" width="40" height="15">
                            <use href="./images/symbol-defs.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <ul class="hero-right">
            <li class="hero-right__text hero-right__text--big">16</li>
            <li class="hero-right__text">cafes</li>
            <li class="hero-right__text hero-right__text--big">23</li>
            <li class="hero-right__text">food trucks</li>
        </ul>
        <picture>
            <source srcset="./images/ice-cream-tab.png" media="(min-width:768px)">
            <img class="img-hero" src="./images/ice-cream-min.png" alt="мороженное">
        </picture>
        <div class="hero-decor">
            <img class="hero-decor__dots hero-decor__dots--left" src="./images/dots-left-min.png"
                alt="деворативные точки слева">
            <img class="hero-decor__dots hero-decor__dots--right" src="./images/dits-right-min.png"
                alt="декортаивные точки справа">
        </div>
    </div>
</section>