<section class="hero">
    <div class="container">
        <h1 class="hero__title">ice cream <br> made with <br><span class="hero__accent">passion</span> </h1>
        <div class="hero-link-box flex-box">
            <a href="" class="hero-link-box__link hero-link-box__link--btn">Products</a>
            <a href="" class="hero-link-box__link hero-link-box__link--link">How it’s made?</a>
        </div>
        <img class="img-hero" src="./images/ice-cream-min.png" alt="мороженное">
        <div class="hero-decor">
            <img class="hero-decor__dots hero-decor__dots--left" src="./images/dots-left-min.png" alt="деворативные точки слева">
            <img class="hero-decor__dots hero-decor__dots--right" src="./images/dits-right-min.png" alt="декортаивные точки справа">
        </div>        
    </div>
</section>