<div class="back-drop is-hidden" data-modal>
    <div class="modal">
        <h2 class="modal__heading">Fill in the fields to purchase</h2>
        <button type="button" class="modal__button" data-modal-close aria-label="close">
            <svg class="modal__icon" width="15" height="15">
                <use href="./images/symbol-defs.svg#icon-ep-close"></use>
            </svg>
        </button>
        <form class="modal-form">
            <ul class="modal-form__list">
                <li class="modal-form__item">
                    <label class="modal-form__name" for="name">Name</label>
                    <input class="modal-form__input" type="text" name="name" id="name" required>
                </li>
                <li class="modal-form__item">
                    <label class="modal-form__name" for="tel">Phone</label>
                    <input class="modal-form__input" type="tel" name="tel" id="tel" required>
                </li>
                <li class="modal-form__item">
                    <label class="modal-form__name" for="mail">Mail</label>
                    <input class="modal-form__input" type="email" name="mail" id="tel" required>
                </li>
                <li class="modal-form__item">
                    <label class="modal-form__name" for="text">Comments</label>
                    <textarea class="modal-form__input modal-form__input--textarea" name="text" id="text"
                        placeholder="Pleas enter text"></textarea>
                </li>
            </ul>
                <button class="modal-button" type="submit">Send</button>
                <picture>
                    <source srcset="./images/ice-cream-desk.png" media="(min-width:1200px)">
                    <source srcset="./images/ice-cream-tab.png" media="(min-width:768px)">
                    
                    <img class="modal-img" src="./images/ice-cream-min.png" alt="мороженное">
                </picture>
        </form>
    </div>
</div>