<section class="section feature__products">
  <div class="container products">
    <p class="section__label-product">100% natural</p>
    <h2 class="section__title-product">Products</h2>

    <ul class="products-list">
      <li class="products-list__card one-ice">
        <h3 class="products-list__title">Ice cream</h3>
        <p class="products-list__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="button" type="button">
          <svg class="button-icon" width="40px" height="16px">
            <use href="./images/symbol-defs.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-list__card two-ice">
        <h3 class="products-list__title">Ice coffee</h3>
        <p class="products-list__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="button product" type="button">
          <svg class="button-icon" width="40px" height="16px">
            <use href="./images/symbol-defs.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products-list__card three-ice">
        <h3 class="products-list__title">Milkshakes</h3>
        <p class="products-list__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="button last-product" type="button">
          <svg class="button-icon" width="40px" height="16px">
            <use href="./images/symbol-defs.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
