.about.section {
  font-family: $font-montserrat;
  background-color: $bg-color;

  @media screen and (max-width: $desktop) {
    padding-bottom: 40px;
  }
}

.section__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;

  text-align: center;
  text-transform: uppercase;
  color: $primary-color;
}

.section__title {
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
  color: $primary-color;
  @media screen and(max-width:$mobile) {
    width: 200px;
  }
}

.about__block {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 35px;
  }

  @media screen and (min-width: 1200px) {
    column-gap: 100px;
    
  }
}

.about__text-wrapper {
  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    margin-top: 85px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    // margin-top: 79px;
  }

  @media screen and (min-width: $desktop) {
  }

  @media screen and (max-width: $mobile) {
    margin-top: 85px;
  }
}

.about__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: $primary-color;

  //   margin-right: auto;

  @media screen and (min-width: 320px) and (max-width: 330px) {
    max-width: 220px;
  }

  @media screen and (max-width: $mobile) {
    max-width: 400px;
  }
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    max-width: 334px;
    display: block;
  }
  &--hidden {
    @media screen and (max-width: $tablet) {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 463px;
  }
}

.about__text.visually-hidden {
  display: none;
}

.about__wrapper {
  position: relative;
}

.about__wrapper::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: relative;

  display: block;
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  width: 278px;
  height: 278px;
  background-size: 278px 278px;
  border-radius: 50%;

  background-color: rgb(76, 216, 44);

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    width: 330px;
    height: 330px;
  }

  @media screen and (min-width: 1200px) {
    width: 490px;
    height: 490px;
  }
}

.about__wrapper::after {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border-radius: 50%;

  @media screen and(max-width: $tablet) {
    background-image: url(../images/cow-mob-1x.png);
    // max-width: 480px;
    width: 278.19px;
    height: 278.19px;
    background-size: 278.19px 278.19px;

    transform: translateX(-50%);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/cow-mob-2x.png);
      width: 278.19px;
      height: 278.19px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    background-image: url(../images/cow-tablet-1x.png);
    width: 330px;
    height: 330px;
    background-size: 330px 330px;

    @media screen and(min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/cow-tablet-2x.png);
    }
  }
  @media screen and(min-width: $desktop) {
    background-image: url(../images/cow-desktop-1x.png);

    width: 490px;
    height: 490px;
    background-size: 490px 490px;

    @media screen and(min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/cow-desktop-2x.png);
    }
  }
}

.about__button {
  margin-top: 20px;
  @extend %button;
}
