.feature__contacts {
    background-color: $bg-color;
}

.contacts__list {
    padding: 40px 32px;
    margin-bottom: 20px;
    width: 280px;
    height: 412px;
    background: $primary-color;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
}

.contact__addres {
    border-bottom: 1px solid #E1E1E1;
  
}

.contacts__label {
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.04em;
    width: 130px;
    margin-bottom: 20px;
    color: $primary-color;
    align-items: center;
    text-align: center;
    background: $accent-color;
    border-radius: 4px
}

.contacts__city {
    font-family: $font-montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    margin-bottom: 8px;
    color: $title-color;
}

.contacts__nav {
    font-family: $font-montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 183%;
    letter-spacing: 0.04em;
    color: $contact-text-color;
}

.contacts__work {
    margin-top: 8px;
    margin-bottom: 23px;
    border-bottom: 1px solid #E1E1E1;
}

.contacts__day {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: $title-color;
}

.contacts__time {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: $disabled-color;
}

.contacts__link {
    font-size: 12px;
    line-height: 18px;
    color: $contact-text-color;
    margin-top: 24px;
}

.button-contacts {
    justify-content: center;
}

.button {
    display: block;
    align-items: center;
    margin-bottom: 8px;
    @extend %button;
}