.gallery__container {
    position: relative;
}

.gallery__img-wraper {
    position: absolute;
    top: 0;
    left: 50%;
        transform: translate(-50%, -24px);
  width: calc(100% - 0px);
  max-width: 279px;


  @media screen and (min-width: 768px) {
    max-width: 704px;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 1200px) {
    transform: translate(-50%, -98px);
    max-width: 1013px;
  }
}
