@keyframes heroimage-mobile{
    0%{
        transform: translate(53%, 100%);
    }
    100%{
        transform: translate(53%, 22%);
        opacity: 1;
    }
}
@keyframes heroimage-tablet{
    0%{

        transform: translate(19%, 100%);
    }
    100%{

        transform: translate(19%, 16%);
        opacity: 1;
        
    }

}
@keyframes heroimage-desktop{
    0%{
        transform: translate(13%, 100%);
    }
    100%{
        transform: translate(13%, 22%);
        opacity: 1;
    }

}
@keyframes dots{
    0%{
        opacity: 0;
    }
    100%{
        
        opacity: 1;
    }

}
.flex-box--justify{
    display: flex;
    align-items: baseline;
}
.hero-box{
    position: relative;
    height: 100%;
}
.hero{

    overflow: hidden;
    background-color: $bg-color;
    height: 450px;
    padding: 16px;
    padding-top: 95px;
    @media screen and (min-width:$tablet){
        height: auto;
    }
    @media screen and (min-width:$desktop){
        padding-top: 100px;
        padding-bottom: 60px;
    }
}
.hero-left{

    position: relative;
    z-index: 2;
}
.hero__title{
    margin-bottom: 29px;

    font-family: 'Seymour One';
    font-size: 26px;
    line-height: 1.27;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $white-text-color;
    @media screen and (min-width:$tablet){
        font-size: 18px;
        margin-bottom: 25px;
    }
    @media screen and (min-width:$desktop){
        font-size: 38px;
        margin-bottom: 19px;

 
    }
    
    
}
.hero__accent{
    font-size: 34px;
    line-height: 0.96;
    @media screen and (min-width:$tablet){
        font-size: 16px;
    }
    @media screen and (min-width:$desktop){
        font-size: 38px;

 
    }

}
.hero-link-box{
    margin-bottom: 27px;
    @media screen and (min-width:$desktop){
        margin-bottom: 54px;
    }
}
.hero-link-box__link{
    display: block;
    

    font-size: 8px;
    line-height: 1.12;
    padding: 5px 10px;
    text-align: center;
    
    &:not(:last-child){
        margin-right: 8px;
    }


    &--btn{
        border: 2px solid $accent-color;
        border-radius: 8px;
        color: $title-color;
        
        &:hover,
        &:focus{
            border-color: $action-color;
        }
        &:active{
            border-color: $disabled-color;
        }
        
        
    }

    &--link{
        color: $accent-color;
        text-decoration: underline;
        
        &:hover,
        &:focus{
            color: $action-color;
        }
        &:active{
            color: $disabled-color;
        }
    }
    @media screen and (min-width:$desktop){
        padding: 12px 36px;
        font-size: 14px;
        line-height: 1.29;
    }
}

.hero-offer{
    display: none;

    @media screen and (min-width:$tablet){
        display: flex;
        align-items: center;
        
    }

}
.hero-offer__img{
    margin-right: 35px;

}
.hero-offer__description{
    width: 150px;

    

    @media screen and (min-width:$desktop){
        width: 200px;
        
    }
    
}
.hero-offer__text{
    margin-bottom: 20px;

    color: $white-text-color;
    font-size: 12px;
    line-height: 1.4;


    @media screen and (min-width:$desktop){
        margin-bottom: 32px;
        font-size: 14px;
    }
}
.hero-offer__icon{
    fill: $white-text-color;
}

.hero-right{
    display: none;

    @media screen and (min-width:$tablet){
        display: block;
        margin-left: auto;
        text-align: right;
    }
    
}
.hero-right__text{
    font-size: 8px;
    line-height: 1.25;
    color: $white-text-color;
    &--big{
        font-weight: 900;
        font-size: 28px;

        letter-spacing: 0.04em;
        color: $title-color;
    }
    @media screen and (min-width:$desktop){
        font-size: 14px;
        line-height: 1.21;

        &--big{
            font-size: 46px;
        }
    }
}


















.img-hero{
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateY(100%);
    z-index: 1;

    opacity: 0;
    

    animation-name: heroimage-mobile;
    animation-duration: 500ms;
    animation-timing-function: $timing-function;
    animation-delay: 1s;
    animation-fill-mode: forwards;


    @media screen and(min-width:$tablet){
        animation-name: heroimage-tablet;
        right: 10%;

    }
    @media screen and(min-width:$desktop){
        animation-name: heroimage-desktop;
    }

}
.hero-decor__dots{
    position: absolute;
    bottom: -16px;

    opacity: 0;
    animation-name: dots;
    animation-duration: 1s;
    animation-timing-function: $timing-function;
    animation-delay: 500ms;
    animation-fill-mode: forwards;

}
.hero-decor__dots--left{
    left: -20px;


    pointer-events: all;
    @media screen and (min-width:$tablet){
        left: -32px;
    }
    @media screen and (min-width:$desktop){
        left: 0;
        bottom: -55px;
    }
}
.hero-decor__dots--right{
    right: -20px;
    @media screen and (min-width:$tablet){
        right: -32px;
    }

    @media screen and (min-width:$desktop){
        display: none;
    }
}
