npm .feature__products {
    background-image: url(../images/bgmob.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
       background-image: url(../images/bgmob@2x.png);
    }
}

@media screen and (min-width: $tablet) {
    .feature__products {
        background-image: url(../images/bgtab.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/bgtab@2x.png);
        }
    }   
}


@media screen and (min-width: $desktop) {
    .feature__products {
        background-image: url(../images/bgdesk.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/bgdesk@2x.png);
        }
    }   
}


.products {
    text-align: center;
    align-items: center;
    // display: grid;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 80px; 
}



.products__label {
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px; 
    margin-bottom: 12px;  
}

.section__title {
    color: $title-color;
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width: $tablet) {
        margin-bottom: 200px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 300px;    
    }
}

.products-list {
    color: $text-color;
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -8px;
    }
   
    @media screen and (min-width: $desktop) {
        margin: -16px;
    }
}

.products-list__title {
    color: $text-color;
    text-transform: uppercase;
    margin-bottom: 40px;
}


.products-list__card {
    position: relative;
    padding-top: 123px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 148px;
    text-align: center;
    border-radius: 24px;

    @media screen and (max-width: $tablet) {
        max-width: 280px;
    }

    @media screen and (min-width: $tablet) {
        width: calc((100% - 3 * 16px) / 3);
        margin: 8px;

    }

    @media screen and (min-width: $desktop) {
        width: calc((100% - 3 * 32px) / 3);
        margin: 16px;
        padding-right: 60px;
        padding-left: 60px;
    }

    // @media screen and (min-width: $tablet) {
    //     width: 50%;
    //     margin: 8px;
    // }
}

.one-ice {    
    background-color: #AEC6A5; 
    &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -130%);
        width: 200px;
        height: 200px;
        background-color: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
        box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
        border-radius: 50%;
    }

    &::after {
        position: absolute;
        content: "";
        width: 200px;
        height: 200px;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        border-radius: 50%;
        border-radius: 50%;
        background-image: url(../images/prod1mob.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/prod1mob@2x.jpg);
        }
    }
} 

@media screen and (min-width: $tablet) {
    .one-ice::after {
        background-image: url(../images/prod1tab.jpg);
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/prod1tab@2x.jpg);
        }
    }   
}
    
@media screen and (min-width: $desktop) {
    .one-ice::before {
        width: 300px;
        height: 300px;
        transform: translate(-50%, -120%);
    }
    .one-ice::after {
        width: 300px;
        height: 300px;
        transform: translate(-50%, -30%);
        background-image: url(../images/prod1desk.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/prod1desk@2x.jpg);
        }
    }   
}

.two-ice {    
    background-color: #EFD478; 
    &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -130%);
        width: 200px;
        height: 200px;
        background-color: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
        box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
        border-radius: 50%;
    }

    &::after {
        position: absolute;
        content: "";
        width: 200px;
        height: 200px;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        border-radius: 50%;
        border-radius: 50%;
        background-image: url(../images/prod2mob.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/prod2mob@2x.jpg);
        }
    }
} 

@media screen and (min-width: $tablet) {
    .two-ice::after {
        background-image: url(../images/prod2tab.jpg);
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/prod2tab@2x.jpg);
        }
    }   
}
    
@media screen and (min-width: $desktop) {
    .two-ice::before {
        width: 300px;
        height: 300px;
        transform: translate(-50%, -120%);
    }
    .two-ice::after {
        width: 300px;
        height: 300px;
        transform: translate(-50%, -30%);
        background-image: url(../images/prod2desk.jpg);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/prod2desk@2x.jpg);
        }
    }   
}

.three-ice {    
    background-color: #D6936D; 
    &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -130%);
        width: 200px;
        height: 200px;
        background-color: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
        box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
    }

    &::after {
        position: absolute;
        content: "";
        width: 200px;
        height: 200px;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        border-radius: 50%;
        border-radius: 50%;
        background-image: url(../images/prod3mob.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/prod3mob@2x.jpg);
        }
    }
} 

@media screen and (min-width: $tablet) {
    .three-ice::after {
        background-image: url(../images/prod3tab.jpg);
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/prod3tab@2x.jpg);
        }
    }   
}
    
@media screen and (min-width: $desktop) {
    .three-ice::before {
        width: 300px;
        height: 300px;
        transform: translate(-50%, -120%);
    }
    .three-ice::after {
        width: 300px;
        height: 300px;
        transform: translate(-50%, -30%);
        background-image: url(../images/prod3desk.jpg);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/prod3desk@2x.jpg);
        }
    }   
}

.products-list__title {
    margin-top: 20px;
    margin-bottom: 40px;

    color: $text-color;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}


.products-list__text {
    text-align: center;

    color: $text-color;
    text-align: center;
}

.button {
    margin-top: 30px;
    border: none;
    cursor: pointer;
    background-color: #AEC6A5;
    &.product {
        background-color: #EFD478;
    }

    &.last-product {
        background-color: #D6936D;
    }
}
