.products {
    background-image: url(../images/Frame28.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section__label {
    color: $title-color; 
}

.section__title {
    color: $title-color;
    margin-bottom: 40px;
}

.products-list {
    color: $text-color;
}

.products-list__card {
    position: relative;
    text-align: center;
    padding: 123px 40px 0 40px;
    // width: 280px;
    // height: 420px;
    margin-top: 40px;
    margin-bottom: 145px;

    border-radius: 24px;

    &::before {
        position: absolute;
        content: "";    
        width: 200px;
        height: 210px;
        top: 0;
        left: 50%;

        background: url(../images/prod1mob.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
       
        border-radius: 50%; 
        transform: translate(-50%, -50%);  
    }

    &.one {    
        background-color: #AEC6A5;
    }

    &.two {    
        background-color: #EFD478;
    }

    &.three {    
        background-color: #D6936D;
    }
}

.products-list__title {
    margin-top: 20px;
    margin-bottom: 40px;

    color: $text-color;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}



.products-list__text {
    text-align: center;

    color: $text-color;

    font-family: $font-montserrat;
    font-weight: 400px;
    font-size: 14px;
    line-height: 1.76;
}

